  <!-------------------- Main ------------>
  <div class="container-fluit bg-light">

    <!-- slider -->
    <div id="carouselExampleCaptions" class="carousel slide p-md-5 myBgColor" data-bs-ride="carousel">
      
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
          aria-label="Slide 4"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./media/giammarco-zeH-ljawHtg-unsplash.jpg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>
              Some representative placeholder content for the first slide.
            </p>
          </div>
        </div>

        <div class="carousel-item">
          <img src="./media/hunters-race-MYbhN8KaaEc-unsplash.jpg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>
              Some representative placeholder content for the second slide.
            </p>
          </div>
        </div>

        <div class="carousel-item">
          <img src="./media/mikhail-pavstyuk-EKy2OTRPXdw-unsplash.jpg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>
              Some representative placeholder content for the third slide.
            </p>
          </div>
        </div>

        <div class="carousel-item">
          <img src="./media/tingey-injury-law-firm-nSpj-Z12lX0-unsplash.jpg" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>
              Some representative placeholder content for the fourth slide.
            </p>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- home parallax 1 -->
    <section class="parallax_1" style="background-image: url(media/giammarco-zeH-ljawHtg-unsplash.jpg)">
      <div class="row align-items-center justify-content-center">
        <h1 class="w-75 text-white text-center p-4 display-5 myBgColor" id="h1">
          İZMİR'İN EN KALİTELİ HUKUK DANIŞMANLIĞI
        </h1>
      </div>
    </section>

    <!-- cards -->
    <section class="container-fluid p-5 justify-content-center myBgColor" id="card__container">
      <div class="row align-items-center justify-content-center gap-5" style="min-height: 80vh">
        
        <div class="card p-0 border-0" style="width: 18rem">
          <img src="./media/hunters-race-MYbhN8KaaEc-unsplash.jpg" class="card-img-top bg-black" alt="..." />
          <div class="card-body bg-dark text-light">
            <h5 class="card-title text-center display-6">
              <strong>Kaliteli Hizmet</strong>
            </h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up
              the bulk of the card's content.
            </p>
            <a href="#" class="btn btn-warning">Go somewhere</a>
          </div>
        </div>

        <div class="card p-0 border-0" style="width: 18rem">
          <img src="./media/giammarco-zeH-ljawHtg-unsplash.jpg" class="card-img-top" alt="..." />
          <div class="card-body bg-dark text-light">
            <h5 class="card-title text-center display-6">
              <strong>Güvenilir</strong>
            </h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up
              the bulk of the card's content.
            </p>
            <a href="#" class="btn btn-warning">Go somewhere</a>
          </div>
        </div>
      </div>
    </section>

    <!-- home parallax 2 -->
    <section class="parallax_1" style="background-image: url(media/hunters-race-MYbhN8KaaEc-unsplash.jpg);">
      <div class="container-fluid pt-5">
        <p class="
              w-75
              text-center
              p-4
              mx-auto
              my-5
              display-5
              bg-warning
              text-black
            ">
          Merak Ettiğiniz Tüm Soruların Cevabı İçin Bizimle İletişime Geçin
        </p>
        <a class="btn btn-dark d-block btn-lg mx-auto my-5 myBgColor" href="#footer_contact"
          style="width: 200px">İletişim Bilgileri</a>
      </div>
    </section>

  </div>