  <!------------ Footer ---------------->
  <footer class="container-fluid h-100 myBgColor text-light">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12 my-3">
        <h3 class="text-center text-decoration-underline">Adress</h3>

        <div class="list-group text-center" id="footer_contact">
          <address class="text-center text-warning bi-house-door-fill">
            Kasımpaşa Mah. No:36 D:4<br />
            Menemen/İZMİR
          </address>
          <phone class="link-warning bi-telephone-fill">
            +90 (212) 777 7777</phone>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 my-3">
        <h3 class="text-center text-decoration-underline">Hizmetlerimiz</h3>
        <div class="list-group text-center">
          <a href="#" class="link-warning text-decoration-none">Aile Hukuku</a>
          <a href="#" class="link-warning text-decoration-none">Miras</a>
          <a href="#" class="link-warning text-decoration-none">Ceza Hukuku</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 my-3">
        <h3 class="text-center text-decoration-underline">Sayfalar</h3>
        <div class="list-group text-center">
          <a href="#" class="link-warning text-decoration-none">Anasayfa</a>
          <a href="#" class="link-warning text-decoration-none">Hizmetlerimiz</a>
          <a href="#" class="link-warning text-decoration-none">Hakkımızda</a>
          <a href="#" class="link-warning text-decoration-none">İletişim</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 my-3">
        <h3 class="text-center text-decoration-underline">Sosyal Medya</h3>
        <div class="list-group text-center">
          <a href="#" class="link-warning text-decoration-none bi-twitter">
            Twitter</a>
          <a href="#" class="link-warning text-decoration-none bi-whatsapp">
            Whatsapp</a>
          <a href="#" class="link-warning text-decoration-none bi-instagram">
            İnstagram</a>
        </div>
      </div>
    </div>

    <div class="row text-center p-4">
      <p class="col-12">
        www.vahaphukuk.av.tr 2020 - 2025
        <span>&copy;</span>
        Tüm hakları saklıdır
      </p>
    </div>
  </footer>